header {
    /*
    margin-left: -4px;
    margin-top: -21px;
    */
    text-align: center;
    background-color: #c3c3c3;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    height: 190px;
    background-color: #393646;
    color: #FFFF;
}

.about, .content {
    background-color: #887fab;
    color: #FFFF;
}

.content {
    background-color: #887fab;
    color: #FFFF;
}

#down {
    margin-top: 70px;
}

a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

a#btn:active, a#btn:hover, a#btn {
    text-decoration: none;
}

#contact #btn {
    border-radius: 15px;
}

#contact {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    background-color: #887fab;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFFF;
}

#btn {
    text-decoration: none;
    padding: 1em 2em;
    background: #6a5f7c;
    color: #FFFF;
    border-radius: 7px;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;
    font-family: monospace;
    font-weight: 600;
}

footer {
    text-align: center;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #393646;
    color: #FFFF;
    line-height: 3;
}

.about {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

* {padding: 0; margin: 0;}