CORS_ALLOWED_ORIGINS=your-frontend-url

PORT=8080
DB_URL=your-db-url
DB_USER=your-db-username
DB_PASS=your-db-password

JWT_SECRET_KEY=a-very-secret-key-that-contains-at-least-32-chars
JWT_EXPIRATION_ACCESS_MINUTES=your-jwt-access-expiration-minutes
JWT_EXPIRATION_REFRESH_MINUTES=your-jwt-refresh-expiration-minutes
