@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 65% 75%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5%;    
}

.buttons a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1%;
    font-size: 20px;
    font-family: "Montserrat", monospace;
    font-weight: 800;
    transition: 0.5s ease;
    border: #fff solid;
    border-radius: 12px;
    border-width: 4px;
}

.buttons {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 3%;
}

.buttons:hover a:not(:hover) {
    opacity: 0.3;
}


.text {
    color: #fff;
    font-family: "Montserrat", monospace;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5%;
    font-size: 20px;
    font-family: "Montserrat", monospace;
    font-weight: 800;
    transition: 0.5s ease;
}

/*
    color: #fff;
    linear-gradient(125deg, #5E529C, #AD3B8D, #E4243E, #F27F46, #FBC24E);
}
*/

.tg:hover {
    border-color: #24A2E0;
    color: #24A2E0;
}

.inst:hover {
    color: #AD3B8D;
    border-color: #AD3B8D;
}

.gh:hover {
    color: #161B22;
    border-color: #161B22;
}

ul:hover li a:not(:hover) {
    color: #fff;
    opacity: 0.3;
    filter: blur(1px);
}

.about-content {
    margin-top: 35px;
    margin-left: 8%;
}

.about-name {
    margin-left: 2%;
    font-size: 18px;
    width:max-content;
    color:#fff;
    font-weight: 600;
    font-family: "Montserrat", monospace;
}

.about-text {
    font-weight: 400;
    font-size: 18px;
    width:1200px;
    color:#fff;
    font-family: "Montserrat", monospace;
}

.sites th, td, table {
    color: #fff;
    border: 3px solid #b200cd;
    border-collapse: collapse;
    font-family: "Montserrat", monospace;
}

.sites th {
    font-family: "Montserrat", monospace;
    font-weight: 800;
    width:400px;
    height: 60px;
}

.sites td {
    text-align: center;
    width: 400px;
    height: 40px;
}

#sites {
    color: #fff;
    text-decoration: none;
} 

.overflow {
    min-height: 400px;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #CD00CD;
}

::-webkit-scrollbar-thumb {
    background-color:#880088;
}

.about-uzdikter2 a {
    border: #CD00CD solid 3px;
    border-radius: 100px;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat", monospace;
}

.img {
    height: 440px;
    width: max-content;
    border: #CD00CD solid 5px;
}

.about-content {
    width: 1200px;
    border-top: 3px solid #CD00CD;
}

/*
.sites td {
    width:400px;
    height: 50px;
    text-align: center;
    border-right: solid 3px #fff;
}

.sites th {
    width:400px;
    height: 50px;
    border-right: #fff 3px solid;
    border-bottom: 3px solid #fff;
}

.sites {
    border: 3px #fff solid;
}

.sites #songy {
    border-bottom: 3px solid #fff;
    border-right: none;
}
*/
