body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 65% 75%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5%;    
}

.buttons a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1%;
    font-size: 20px;
    font-family: "Montserrat", monospace;
    font-weight: 800;
    transition: 0.5s ease;
    border: #fff solid;
    border-radius: 12px;
    border-width: 4px;
}

.buttons {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 3%;
}

.buttons:hover a:not(:hover) {
    opacity: 0.3;
}


.text {
    color: #fff;
    font-family: "Chivo Mono", monospace;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5%;
    font-size: 20px;
    font-family: "Montserrat", monospace;
    font-weight: 800;
    transition: 0.5s ease;
}

/*
    color: #fff;
    linear-gradient(125deg, #5E529C, #AD3B8D, #E4243E, #F27F46, #FBC24E);
}
*/

.tg:hover {
    border-color: #24A2E0;
    color: #24A2E0;
}

.inst:hover {
    color: #AD3B8D;
    border-color: #AD3B8D;
}

.gh:hover {
    color: #111;
    border-color: #111;
}

ul:hover li a:not(:hover) {
    color: #fff;
    opacity: 0.3;
    filter: blur(1px);
}

body {
    margin: 0;
}
