@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.nav {

    & div {
        border-radius: 30px;
        height: 60px;
        width: 200px;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
        transition: all 0.3s;
        padding: 0px 20px;
    
        &:hover {
            background-color: rgb(151, 151, 151);
        }
    }

    width: 100%;
    justify-content: right;
    display: flex;
}

#brand {
    & .logo {
        width: 50px;
        height: 50px;
        justify-content: left;
        background-image: url("images/fire.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    & .name {
        height: 60px;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    display: flex;
    align-items: center;
}

.wrapper {
    padding-top: 10px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}

.container {
    height: 100%;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    padding-top: 50px;
}

.title {
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: left;
    width: 80%;
    margin-left: 10%;
    padding-top: 30px;
}

.download-container {
    width: 80%;
    margin-left: 10%;
    padding-top: 50px;

    & h2 {
        font-size: 50px;
        font-weight: 500;
    }

    & .download-button {
        width: max-content;
        padding: 10px 40px;
        border-radius: 30px;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        margin-top: 20px;

        &:hover {
            background-color: #292929;
        }
    }
}

.images {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.images div {
    width: 100%;
    max-width: 480px;
    height: 720px;
    max-height: 720px;
    background-color: #acacac;
    border: 5px solid black;
    border-radius: 40px;
}

.bottom-space {
    width: 100%;
    height: 200px;
}

.contacts-container {
    padding-top: 50px;
    width: 80%;
    margin-left: 10%;
}

.contacts-title {
    font-size: 50px;
    font-weight: 500;
}

.text {
    font-size: 30px;
}

.space60 {
    width: 100%;
    height: 60px;
}

.space30 {
    width: 100%;
    height: 30px;
}

.space20 {
    width: 100%;
    height: 20px;
}

.space10 {
    width: 100%;
    height: 10px;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

form {
    display: grid;
    width: max-content;

    & input {
        border: 1px solid black;
        width: 500px;
        height: 30px;
    }

    & textarea {
        border: 1px solid black;
    }
}

#contact-text {
    width: 500px;
    height: 100px;
    max-width: 500px;
}

#submit {
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    background-color: #000;
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 500px;

    &:hover {
        background-color: #292929;
    }
}

#top {
    display: none;
}

form {
    width: 80%;
}

.line {
    width: 100%;
    padding-top: 10px;
    border-bottom: 2px solid #000;
}

#translate {
    right: 15px;
    top: 0;
    font-size: 17px;
    position: absolute;

    & div {
        cursor: pointer;
    }
}


@media (max-width: 1360px) {
    .images {
        & div {
            width: 300px;
            height: 540px;
        }
    }
}

@media (max-width: 1000px) {
    #translate {
        top: 60px;
    }

    .wrapper {
        display: block;
    }

    .nav {
        justify-content: center;
    }

    #brand {
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .images {
        flex-direction: column;
        gap: 20px;

        & div {
            height: 720px;
            width: 480px;
        }
    }
}

@media (max-width: 780px) {
    form input {
        width: 400px;
    }
    
    #contact-text {
        width: 400px;
        max-width: 400px;
    }

    #submit {
        width: 400px;
    }

    .nav div {
        width: 150px;
    }

    .input {
        width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 600px) {
    .images {
        & div {
            width: 300px;
            height: 540px;
        }
    }
}

@media (max-width: 560px) {
    #translate {
        top: 50px;
    }

    form input {
        width: 100%;
    }

    #contact-text {
        width: 100%;
        max-width: 100%;
    }

    #submit {
        width: 100%;
    }

    #top {
        display: block;
    }

    #phone-nav {
        display: block;
        width: 50px;
        height: 50px;
        background-image: url("images/menu.png");
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: left;
        cursor: pointer;
    }

    #phone-home, #phone-download, #phone-contacts {
        display: none;
        font-size: 30px;
        cursor: pointer;
        width: max-content;
    }

    #phone-home {
        padding-top: 20px;
    }

    .nav {
        display: none;
    }
}
